@import url("@substrate-system/icons/css");
@import url("@substrate-system/a11y/visually-hidden");

password-input {
    display: block;

    & div.password.input {
        min-width: 100%;
        display: flex;
        align-items: center;

        & input {
            padding: 1rem;
            width: 100%;
            border: 1px solid;
            border-radius: 0;
            outline: 1px solid transparent;

            &:focus {
                outline: 1px solid;
            }
        }

        & button.pw-visibility {
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            right: 2.5rem;
        }
    }
}

password-input .password.input > .pw-visibility .icon {
    width: 100%;
    height: 100%;
}

password-input .password.input > .pw-visibility:focus-visible {
    outline: 2px solid var(--password-input-focus-color);
    outline-offset: 2px;
}

password-input .password.input > input:disabled + .pw-visibility {
    opacity: 0.55;
    pointer-events: none;
    cursor: default;
}

/**
 * Don't show until JavaScript is instantiated
 */
password-input:not(:defined) {
	visibility: hidden;
}
