@import url("@substrate-system/icons/css");
@import url("@substrate-system/a11y/visually-hidden");

password-input {
    display: block;

    & .password.input {
        min-width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & .label-content {
            width: 100%;
        }

        & span.input {
            width: 100%;
            display: flex;
            align-items: center;
        }

        & input {
            transition: all 0.2s;
            padding: 1rem;
            padding-bottom: 0.8rem;
            width: 100%;
            border: 1px solid;
            border-radius: 0;
            outline: 1px solid transparent;

            &:focus {
                outline: 1px solid;
            }

            &:disabled {
                & + .pw-visibility {
                    opacity: 0.4;
                    pointer-events: none;
                    cursor: default;
                }
            }
        }

        & button.pw-visibility {
            transition: all 0.2s;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            right: 3rem;
            outline: 2px solid transparent;

            &:focus-visible {
                & .icon {
                    width: 100%;
                    height: 100%;
                }

                outline: 2px solid;
                outline-offset: 2px;
            }
        }
    }
}

/**
 * Don't show until JavaScript is instantiated
 */
password-input:not(:defined) {
	visibility: hidden;
}
